.row > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}


.container {
  width: 100vw;
  padding: none;
  margin: none;
}

.banner {
  height: 100vh;
  text-align: center;
  background-color: $mygrey;
  position: relative;
}

.name {
  text-align: center;
  color: $myred;
  font-size: 20px;
}

.nav-home {
  display: inline;
  ul {
    float: center;
    a {
      text-decoration: none;
        color: $mywhite;
    }
  }
}



.nav {
  position: relative;
  top: 80%;
  text-align: center;
  text-decoration: none;
}




