<div class="image-center-container">
  <div class="row">
    <div class="col-md-6">
      <div class="about-page">
        <div class="about">
          <h3>About</h3>

          <div class="nav-abt">
            <div id="abt">
              <ul>
                <a class="nav-txt" href="#">About</a>
              </ul>
            </div>
            <div id="wrk">
              <ul>
                <a class="nav-txt" href="#">Experience</a>
              </ul>
            </div>
            <div id="cntct">
              <ul>
                <a class="nav-txt" href="#">Contact</a>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="mich">
      <img id="pic" src="/images/mich.png" >
    </div>

    <div class="col-md-6">
      <div class="about-info">
        <p><strong>
         Hi, I’m a recent University graduate with a background in Business/Communcations.
       </strong>
       <br>
       <br>

       I’m a tech savy guy who tries to stay up to date with the most recent technological developments. Other than writing code, I like to spend my time editing videos when im behind my laptop. I enjoy keeping myself physically active as well, as i believe that this is needed to be productive. These activities include, football, fitness and some other crap. I aspire to be the best developer i can be and always remain eager to learn new things and keep developing myself along with my code
       <br>
       <br>
     </p>
<!--       <div class="photos">
        <img id="amazon" src="/images/amazon.jpg">
      </div> -->
    </div>
  </div>
</div>
</div>

