<div class="image-center-container">
  <div class="row">
    <div class="col-md-6">
      <div class="about-page">
        <div class="about">
          <h3>About</h3>
          <div class="nav">
            <ul>
              <li>
                <a href="#top">Home</a>
                <a href="#work">Experience</a>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="mich">
      <%= image_tag "mich.png" %>
    </div>

    <div class="col-md-6">
      <div class="about-info">
        <p>some info about me and how great i am</p>
      </div>
    </div>
  </div>
</div>

