<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="contact-page">
        <div class="contact">
          <h3>Contact</h3>
          <div class="nav">
            <ul>
              <li>
                <a href="#top">Home</a>
                <a href="#about">About</a>
                <a href="#work">Experience</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="contact-info">
        <p>
          If you have any opportunities, inquiries or you simply want to have a coffee, feel free to contact me.</p>
          <br>
          <br>
          <p id="contact-name">Michel van Dijck</p>
          <br>
          <br>
          <p>
            <strong>Full-stack Web Developer</strong>
            <br>
            <br>
            <strong>Email:</strong> michvd92@gmail.com
            <br>
            <strong>Mobile:</strong> +31 6831 668 02
            <br>
          </p>
        </p>

        <ul class="social">
          <li>
            <a class="ease-all" href="https://www.linkedin.com/in/michel-van-dijck-1182aa94" target="blank"><i class="fa fa-linkedin-square"></i></a>
          </li>
          <li>
            <a class="ease-all" href="https://github.com/mvdijck" target="blank"><i class="fa fa-github"></i></a>
          </li>
        </ul>

      </div>
    </div>


  </div>
</div>
