<div class="row">
  <div class="col-md-6">
    <div class="contact-page">
      <div class="contact">
        <h3>Contact</h3>
        <div class="nav">
          <ul>
            <li>
              <a href="#top">Home</a>
              <a href="#about">About</a>
              <a href="#work">Experience</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="contact-info">
      <p>Contact me now bitch</p>
      <i class="fa fa-linkedin-square"></i>
      <i class="fa fa-github"></i>
    </div>
  </div>
</div>

