<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <div class="experience-info">
        <p>
          <h4>
            <strong>Education</strong>
          </h4>
          <br>
          <strong><i class="fa fa-graduation-cap" aria-hidden="true"></i> - Maastricht University</strong>
          <br>
          2011 - 2012 : International Business
          <br>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Maastricht, NL
          <br>
          <br>
          <strong><i class="fa fa-graduation-cap" aria-hidden="true"></i> - Erasmus University</strong>
          <br>
          2012 - 2016 : Communication & Media
          <br>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Rotterdam, NL

          <br>
          <br>
          <strong><i class="fa fa-graduation-cap" aria-hidden="true"></i> - Le Wagon</strong>
          <br>
          2016 : Bootcamp Web Application Development
          <br>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Amsterdam, NL
          <br>
          <br>
          <br>
          <br>

          <h4>
            <strong>Work</strong>
          </h4>
          <br>
          <strong><i class="fa fa-briefcase" aria-hidden="true"></i> - Activision|Blizzard</strong>
          <br>
          2016 : Marketing Internship
          <br>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Amsterdam, NL

        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="experience-page">
        <div class="experience">
          <h3>Experience</h3>
          <div class="nav">
            <ul>
              <li>
                <a href="#top">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
