  <div class="row">
    <div class="col-md-6 ">
      <div class="experience-info">
        <p>Education</p>
        <br>
        <p>Work</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="experience-page">
        <div class="experience">
          <h3>Experience</h3>
          <div class="nav">
            <ul>
              <li>
                <a href="#top">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

